<div [routerLink]="['/events', event.id]" class="well howerwell thumbnail">
    <h2>{{event?.name}}</h2>
    <div>Date : {{event?.date}}</div>
    <div [ngSwitch]="event?.time">Time : {{event?.time}}
        <span *ngSwitchCase="'8:00 am'">(early time)</span>
        <span *ngSwitchCase="'10:00 am'">(late time)</span>
        <span *ngSwitchDefault>(normal time)</span>
    </div>
    <div>Price : ${{event?.price}}</div>
    <div *ngIf="event?.location">
        <span>Location: {{event?.location?.address}}</span>
        <span class="pad-left">{{event?.location?.city}}, {{event?.location?.country}}</span>
    </div>
    <div *ngIf="event?.onlineUrl">
        Online Url:{{event?.onlineUrl}}
    </div>
</div>