<div class="row" *ngFor="let session of visibleSessions">
    <div class="col-md-10">
      <app-collapsable-well>
        <div well-title>
          {{session.name}}
          <i *ngIf="session.voters.length > 3" class="glyphicon glyphicon-fire" style="color: orange;"></i>
        </div>
        <div  well-body>
          <h6>{{session.presenter}}</h6>
          <span>Duration: {{session.duration | sessionDuration}}</span><br />
          <span>Level: {{session.level}}</span>
          <p>{{session.abstract}}</p>
        </div>
      </app-collapsable-well>
    </div>
  </div>