<div>
    <h1>Edit Your Profile </h1>
    <hr>
    <div class="col-md-4">
      <form [formGroup]="profileForm" (ngSubmit)="updateProfile(profileForm.value)" autocomplete="off" novalidate>
        <div class="form-group">
          <label for="firstName">First Name:</label>
          <input formControlName="firstName" id="firstName" type="text" class="form-control" placeholder="First Name..." />
          <div *ngIf="profileForm?.controls.firstName.invalid">first name is required</div>
        </div>
        <div class="form-group">
          <label for="lastName">Last Name:</label>
          <input formControlName="lastName" id="lastName" type="text" class="form-control" placeholder="Last Name..." />
          <div *ngIf="profileForm?.controls.lastName.invalid">last name is required</div>
        </div>
  
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" (click)="cancel()" class="btn btn-default">Cancel</button>
      </form>
    </div>
  </div>