<h1>Login</h1>
<hr>
<div class="col-md-4">
  <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)" autocomplete="off">
    <div class="form-group" >
      <label for="userName">User Name:</label>
      <em *ngIf="loginForm.controls.userName?.invalid && loginForm.controls.userName?.touched">required</em>
      <input (ngModel)="userName" name="userName" id="userName" required type="text" class="form-control" 
      placeholder="User Name..."  />
    </div>
    <div class="form-group" >
      <label for="password">Password:</label>
      <em *ngIf="loginForm.controls.password?.invalid && loginForm.controls.password?.touched">required</em>
      <input (ngModel)="password" name="password" id="password" required type="password" class="form-control" 
      placeholder="Password..." />
    </div> 
        
    <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary">Login</button>
    <button type="button" class="btn btn-default">Cancel</button>
  </form> 
</div>   