<div>
    <h1>Upcoming angular events</h1>
    <hr />
    <div class="row"> 
        <div *ngFor="let event of events" class="col-md-5">
            <app-eventthumbnail #thumbnail (click)="ontoasterClick(event.name)" [event]="event"></app-eventthumbnail>
        </div>
    </div> 
</div>