<div class="container">
    <img [src]="event?.imageUrl" [alt]="event?.name" class="event-image">

    <div class="row">
        <div class="col-md-11">
            <h2>{{event?.name}} </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div><strong>Date:</strong> {{event?.date}}</div>
            <div><strong>Time:</strong> {{event?.time}}</div>
            <div><strong>Price:</strong> ${{event?.price}}</div>
        </div>
        <div class="col-md-6">
            <address>
                <strong>Address:</strong><br />
                {{event?.location?.address}}<br />
                {{event?.location?.city}}, {{event?.location?.country}}
            </address>
        </div>
    </div>
    <hr>

    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-2">
            <h3 style="margin: 0;">Sessions</h3>
        </div>
        

        <div class="col-md-7">
        
            <div class="btn-group btn-group-sm" style="margin-right: 20px; margin-left: 20px;">
                <button class="btn btn-default" [class.active]="sortby==='name'" (click)="sortby='name'">By Name</button>
                <button class="btn btn-default" [class.active]="sortby==='votes'" (click)="sortby='votes'">By Votes</button>
            </div>
        
            <div class="btn-group btn-group-sm">
                <button class="btn btn-default" [class.active]="filterby==='all'" (click)="filterby='all'">all</button>
                <button class="btn btn-default" [class.active]="filterby==='beginner'"
                    (click)="filterby='beginner'">beginner</button>
                <button class="btn btn-default" [class.active]="filterby==='intermediate'"
                    (click)="filterby='intermediate'">intermediate</button>
                <button class="btn btn-default" [class.active]="filterby==='advanced'"
                    (click)="filterby='advanced'">advanced</button>
            </div>
        </div>
        <div class="col-md-2">
            <a (click)="addSessions()">Add Session</a>
        </div>

    </div>

    <app-session-list [filterby]="filterby" [sortby]="sortby" *ngIf="!addMode" [sessions]="event?.sessions"></app-session-list>
    <app-create-session *ngIf="addMode" (newSession)="addSessiontiEvent($event)"></app-create-session>

</div>